name: release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build
      run: ./gradlew :library:build

    - name: Set versioning related env vars
      run: |
        echo "GIT_TAG_NAME=$(echo ${GITHUB_REF/refs\/tags\//})" >> $GITHUB_ENV
        echo "GIT_TAG_VERSION_CODE=$(echo ${GITHUB_REF/refs\/tags\//} | cut -c 2-)" >> $GITHUB_ENV
        echo "GRADLE_PROJECT_VERSION=$(./gradlew :library:properties -q | grep "version:" | awk '{print $2}')" >> $GITHUB_ENV

    - name: Check that Git tag and Gradle project versions match
      if: env.GIT_TAG_VERSION_CODE != env.GRADLE_PROJECT_VERSION
      run: |
        echo "Git tag version doesn't match with Gradle project version"
        exit 1

    - name: Assemble release
      run: ./gradlew :library:assembleRelease

    - name: Upload to Sonatype Nexus and publish to Maven Central
      run: |
        ./gradlew publishReleasePublicationToSonatypeRepository --max-workers 1 closeAndReleaseSonatypeStagingRepository
      working-directory: ./
      env:
        ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEUSERNAME }}
        ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEPASSWORD }}
        ORG_GRADLE_PROJECT_sonatypeStagingProfileId: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPESTAGINGPROFILEID }}
        ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEYID }}
        ORG_GRADLE_PROJECT_signingSecretKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGSECRETKEY }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}

    - name: Create GitHub release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.GIT_TAG_NAME }}
        release_name: ${{ env.GIT_TAG_NAME }}
        body: |
          https://search.maven.org/artifact/io.github.patxibocos/matriz/${{ env.GIT_TAG_VERSION_CODE }}/aar